.background {
  background-color: #f8f3ec;
  overflow: hidden;
}

.background1{
  background-color: rgba(30, 114, 142, 100%);
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  padding: 3px 3px;
  margin-top: 10px;
  margin-left: 250px;
  width: 2020px;
  height: 2rem;
  background-color: #fff;
}
body {
  overflow-x: hidden;
}

#wrapper {
  display: flex;
  padding-left: 0;
}

#sidebar-wrapper {
  flex: 3;
  position: fixed;
  width: 0%;
  height: 85%;
  border-radius: 15px;
  margin-left: -240px;
  overflow-y: auto;
  background-color: rgba(30, 114, 142, 100%);
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-align: center;
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: white;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: white;
  background: rgba(248, 114, 4);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 85px;
  font-size: 28px;
  line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

@media (min-width: 768px) {
  #wrapper {
    padding-left: 250px;
  }

  #sidebar-wrapper {
    width: 250px;
  }

  #page-content-wrapper {
    flex: 8;
    padding: 20px;
    position: relative;
  }
}

.button{
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 5px;
  padding: 3px 12px;
  cursor: pointer;
  outline: none;
  text-decoration: none !important;
}

.button1{
  font-size: 16px;
  color: white !important;
  background-color: rgb(233, 132, 17);
}

.button2{
  font-size: 13px;
  color: black !important;
  background-color: white;
  outline: none !important;
}

  
  